<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
<!-- 		<property name="hibernate.archive.autodetection"></property> -->
<!-- 		<property name="hibernate.bytecode.use_reflection_optimizer">false</property> -->
<!-- 		<property name="hibernate.check_nullability">false</property> -->
<!-- 		<property name="hibernate.connection.autocommit">true</property> -->
<!-- 		<property name="hibernate.connection.release_mode">auto</property> -->

<!-- 		<property name="hibernate.ejb.cfgfile">hibernate.cfg.xml</property> -->
<!-- 		<property name="hibernate.ejb.discard_pc_on_close">false</property> -->
<!-- 		<property name="hibernate.jdbc.batch_size">1</property> -->
<!-- 		<property name="hibernate.query.jpaql_strict_compliance">true</property> -->
<!-- 		<property name="hibernate.search.autoregister_listeners">false</property> -->
<!-- 		<property name="hibernate.show_sql">true</property> -->
<!-- 		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property> -->
<!-- 		<property name="hibernate.transaction.flush_before_completion">false</property> -->
<!-- 		<property name="hibernate.use_identifier_rollback">false</property> -->

<!-- 			<property name="hibernate.ejb.cfgfile">hibernate.cfg.xml</property> -->
			
<!--             <property name="hibernate.default_schema">envers_console_eclipse</property> -->
<!--             <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->
<!--             <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/envers_console</property> -->
<!--             <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> -->
<!--             <property name="hibernate.connection.username">root</property> -->
<!--             <property name="hibernate.connection.password"></property> -->
            
<!-- 			<property name="org.hibernate.envers.audit_table_sufix">_version</property> -->
	</session-factory>
</hibernate-configuration>